/* General women styles */
#women{}

/* women container */
#women-container{}

/* media queries */
@media screen and (max-width: 320px) {
    #women {}

    /* go pro container */
    #women-container {
        padding: .6em .6em;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #women {}

    /* go pro container */
    #women-container {
        padding: .8em .8em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #women {}

    /* go pro container */
    #women-container {
        padding: 1em 1em;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #women {}

    /* go pro container */
    #women-container {
        padding: 1em 2em;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    #women {}

    /* go pro container */
    #women-container {
        padding: 1em 2em;
    }
}

@media screen and (min-width: 1201px) {
    #women {}

    /* go pro container */
    #women-container {
        padding: 1em 2em;
    }
}