/* General GoPro styles */
#go-pro {}

/* go pro container */
#go-pro-container {}

/* media queries */
@media screen and (max-width: 320px) {
    #go-pro {}

    /* go pro container */
    #go-pro-container {
        padding: .6em .6em;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #go-pro {}

    /* go pro container */
    #go-pro-container {
        padding: .8em .8em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #go-pro {}

    /* go pro container */
    #go-pro-container {
        padding: 1em 1em;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #go-pro {}

    /* go pro container */
    #go-pro-container {
        padding: 1em 2em;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    #go-pro {}

    /* go pro container */
    #go-pro-container {
        padding: 1em 2em;
    }
}

@media screen and (min-width: 1201px) {
    #go-pro {}

    /* go pro container */
    #go-pro-container {
        padding: 1em 2em;
    }
}