/* General men styles */
#men{}

/* men container */
#men-container{}

/* media queries */
@media screen and (max-width: 320px) {
    #men {}

    /* go pro container */
    #men-container {
        padding: .6em .6em;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #men {}

    /* go pro container */
    #men-container {
        padding: .8em .8em;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #men {}

    /* go pro container */
    #men-container {
        padding: 1em 1em;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #men {}

    /* go pro container */
    #men-container {
        padding: 1em 2em;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    #men {}

    /* go pro container */
    #men-container {
        padding: 1em 2em;
    }
}

@media screen and (min-width: 1201px) {
    #men {}

    /* go pro container */
    #men-container {
        padding: 1em 2em;
    }
}